<%- include("partials/header") %>
<%- include("partials/navbar", {user: loggedUser}) %>

<h2>Welcome to vuw!</h2>
<p>Vuw is a lovely place to share any photos with others where we believe in the power of creativity, imagination, and innovation in life. Discover the brand-new defination of the world and enjoy your amazing days from now on.</p>


<div>
  <a href="/posts">Discover Posts</a>
</div>
<%- include("partials/footer") %>
