<%- include("partials/header") %>
<% if (err) { %>
  <font color="red"><%= err.message %></font>
<% } %>
<form action="/register" method="POST">
  <input type="text" name="username" placeholder="username" />
  <input type="text" name="name" placeholder="name" />
  <input type="password" name="password" placeholder="password" />
  <button>Join Us!</button>
</form>
<a href="/">Return to home</a>
<%- include("partials/footer") %>
